{% set timestamp = get_timestamp() %}
<div id="npb-block-{{ timestamp }}" data-uuid="{{ timestamp }}" data-pattern="{{ pattern }}" class="npb-block npb-block-{{ blockType }}" {{ stimulus_controller('frgef/neo-page-builder-bundle/frgef_neo_page_builder_block') }}>
    {% set headbandType = 'block' %}
    {% include '@!NeoPageBuilder/components/headband.html.twig' %}
</div>
