{% if type == 'normal' %}

    {% set timestamp = get_timestamp() %}
    <div id="npb-row-{{ timestamp }}" data-uuid="{{ timestamp }}" data-pattern="{{ rowType }}" class="npb-row npb-row-section-draggable npb-new-row npb-row-{{ type }}" {{ stimulus_controller('builder_row') }}>
        {% set headbandType = 'row' %}
        {% include 'builder/components/headband.html.twig' %}
        <div class="npb-initial-add-section-btn">
            <button id="npb-add-section-{{ get_timestamp() }}" type="button" class="npb-add-section" data-title="{{ 'create.new.section'|trans }}">
                <span class="npb-button-bg"></span>
                <span class="npb-button-symbol">+</span>
            </button>
        </div>

        <button id="npb-add-row-{{ get_timestamp() }}" type="button" class="npb-add-row" data-title="{{ 'create.new.row'|trans }}">
            <span class="npb-button-bg"></span>
            <span class="npb-button-symbol">+</span>
        </button>
    </div>

{% elseif type == 'full' %}

    {% set timestamp = get_timestamp() %}
    <div id="npb-row-{{ timestamp }}" data-uuid="{{ timestamp }}" data-pattern="{{ rowType }}" class="npb-row npb-row-{{ type }}" {{ stimulus_controller('builder_row') }}>
        {% set headbandType = 'row' %}
        {% include 'builder/components/headband.html.twig' %}
        {% set width = 100 %}
        <div class="npb-blocks-wrapper" style="width: {{ width }}%;">
            <div id="npb-blocks-draggable-container-{{ timestamp }}" class="npb-blocks-draggable-container"></div>
            <button id="npb-add-block-{{ get_timestamp() }}" type="button" class="npb-add-block" data-title="{{ 'create.new.block'|trans }}">
                <span class="npb-button-bg"></span>
                <span class="npb-button-symbol">+</span>
            </button>
        </div>

        <button id="npb-add-row-{{ get_timestamp() }}" type="button" class="npb-add-row" data-title="{{ 'create.new.row'|trans }}">
            <span class="npb-button-bg"></span>
            <span class="npb-button-symbol">+</span>
        </button>
    </div>

{% elseif type == 'special' %}
    {% set row_timestamp = get_timestamp() %}
    <div id="npb-row-{{ row_timestamp }}" data-uuid="{{ row_timestamp }}" data-pattern="{{ rowPattern }}" class="npb-row npb-new-row npb-row-{{ type }}" {{ stimulus_controller('builder_row') }}>
        {% set headbandType = 'row' %}
        {% include 'builder/components/headband.html.twig' %}
        {% for item in pattern %}
            {% set timestamp = get_timestamp() %}
            {% if item.type == 'section' %}
                <div id="npb-row-{{ timestamp }}" data-uuid="{{ timestamp }}" data-pattern="{{ rowType }}" class="npb-row-special-section npb-row-section-draggable" style="width: {{ item.size }}%;">
                    <div class="npb-initial-add-section-btn">
                        <button id="npb-add-section-{{ get_timestamp() }}" type="button" class="npb-add-section" data-title="{{ 'create.new.section'|trans }}">
                            <span class="npb-button-bg"></span>
                            <span class="npb-button-symbol">+</span>
                        </button>
                    </div>
                </div>
            {% elseif item.type == 'blocks' %}
                <div class="npb-row-special-blocks{% if loop.index == 1 %} npb-row-special-blocks-first{% elseif loop.index == pattern|length %} npb-row-special-blocks-last{% endif %}" style="width: {{ item.size }}%;">
                    {% set width = 100 %}
                    <div class="npb-blocks-wrapper" style="width: {{ width }}%;">
                        <div id="npb-blocks-draggable-container-{{ timestamp }}" class="npb-blocks-draggable-container"></div>
                        <button id="npb-add-block-{{ get_timestamp() }}" type="button" class="npb-add-block" data-title="{{ 'create.new.block'|trans }}">
                            <span class="npb-button-bg"></span>
                            <span class="npb-button-symbol">+</span>
                        </button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <button id="npb-add-row-{{ get_timestamp() }}" type="button" class="npb-add-row" data-title="{{ 'create.new.row'|trans }}">
            <span class="npb-button-bg"></span>
            <span class="npb-button-symbol">+</span>
        </button>
    </div>

{% endif %}
