{% set timestamp = get_timestamp() %}
<div id="npb-section-{{ timestamp }}" data-uuid="{{ timestamp }}" data-complexity="{{ complexity }}" data-pattern="{{ rowType }}" class="npb-section npb-section-{{ type }}" {{ stimulus_controller('builder_section') }}>
    {% set headbandType = 'section' %}
    {% include 'builder/components/headband.html.twig' %}
    {% for size in pattern %}
        {% set width = size %}
        <div class="npb-blocks-wrapper" style="width: {{ width }}%;">
            <div id="npb-blocks-draggable-container-{{ get_timestamp() }}" class="npb-blocks-draggable-container"></div>
            <button id="npb-add-block-{{ get_timestamp() }}" type="button" class="npb-add-block" data-title="{{ 'create.new.block'|trans }}">
                <span class="npb-button-bg"></span>
                <span class="npb-button-symbol">+</span>
            </button>
        </div>
    {% endfor %}
    <button id="npb-add-section-{{ get_timestamp() }}" type="button" class="npb-add-section" data-title="{{ 'create.new.section'|trans }}">
        <span class="npb-button-bg"></span>
        <span class="npb-button-symbol">+</span>
    </button>
</div>
