{% extends "builder/components/modals/resizable/settings.html.twig" %}

{% block title %}{{ 'revisions.name'|trans({'%name%': info.friendlyName})|capitalize }}{% endblock %}

{% block content %}
    <p class="npm-modal-text">{{ 'revisions.text'|trans }}.</p>
    <ul class="npb-revisions-list">
    {% for revision in get_revisions(info.data) %}
        <li class="npb-revision{% if revision.date == info.currentRevision.date %} active{% endif %}" data-revision="{{ revision.date }}">
            <span>{{ 'updated'|trans }} {{ parse_timestamp(revision.date, app.request.locale) }}</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
